body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
  background: url(header.jpg) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #e2dbdb;
  text-transform: uppercase;
}

.buffer {
  height: 10rem;
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 65px;
  opacity: 1;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
}

.btn-primary {
  background-color: #F05F44;
}

.btn-xl {
  padding: 1rem 2rem;
  border: none;
}

.btn:first-child:hover,
:not(.btn-check)+.btn:hover {
  background-color: #c24c37;
}

/* 
.body-background {
  background-image: url('./header.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  margin: 270px 0 50px 0;
}

.break {
  width: 40%;
  color: rgb(234, 131, 14);
  opacity: 1;

}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 225px;
}

.btn {
  background-color: rgb(234, 131, 14);
  border: none;
  padding: 15px;
  border-radius: 30px;
  font-size: 1em;
} */